@page "/"


<p>Hola @UtilidadesString.Enmayuscular(nombre) </p> <!--Expresion implicita-->

<p>Vamos a sumar 2 + 2 @(2  + 2)</p> <!--Expresion explicita-->

<button @onclick="@(() => Console.WriteLine("Me han clickeado"))">Pulsar</button>

<button @onclick="@MensajeConsola">Otro pulsar</button>

<div>
    <h2>Crear nueva pelicula</h2>
    <EjemploTextbox placeholder="Nombre pelicula"/>
</div>

<div>
    <h3>Peliculas</h3>

   <ListadoPeliculas Peliculas="Peliculas"> 
        <Cargando></Cargando>
        <NoHayRegistros>   
            asdadas
        </NoHayRegistros>
   </ListadoPeliculas>   
</div>



@code 
{

    string nombre = "David";

    //protected override async Task OnInitializedAsync()
    //{
    //    //await Task.Delay(3000);
    //    Peliculas = ObtenerPeliculas();
    //}

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }
    public List<Pelicula> Peliculas;

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
            { Titulo = "SpiderMan", FechaLanzamiento = new DateTime(2019, 7, 2) };
    }

    private List<Pelicula> ObtenerPeliculas()
    {
        return null;
    }

    private void MensajeConsola()
    {
        Console.WriteLine("Me has hecho click");
    }
}