 
@if(Peliculas == null)
{
    <p>Cargando...</p>
}
else if (Peliculas.Count == 0)
{
    <text>No hay registros para mostrar</text>
}
{        
    @foreach (var pelicula in Peliculas)
    {
       <PeliculaIndividual Pelicula="pelicula"/>
    }  
}

@code
{
    [Parameter] public List<Pelicula> Peliculas { get; set; }   
}